@{ 
    ViewData["Title"] = "Admin Panel";
    Layout = @"..\MyLayout.cshtml";
}

<html>
<head>
    <title>Admin Panel</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
</head>
<body>
    <div id="users">
        <h1 id="title"><span class="blue">&lt;</span>All Users<span class="blue">&gt;</span></h1>
        <h2 id="ref"><a href="javascript:void(0);" onclick="SwitchData()">Show Ledger</a></h2>
        <div class="sb">
            <table class="container">
                <thead>

                <tr>
                    <th><h1>ID</h1></th>
                    <th><h1>Username</h1></th>
                    <th><h1>Full name</h1></th>
                    <th><h1>EMail</h1></th>
                    <th><h1>Update</h1></th>
                    <th><h1>Delete</h1></th>
                </tr>

                </thead>
                <tbody>

                @foreach (AppUser user in Model.Users) {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.UserName</td>
                        <td>@user.FullName</td>
                        <td>@user.Email</td>
                        
                        <td>
                            <a class="btn btn-sm btn-success" asp-action="Update" asp-route-id="@user.Id">
                                Update
                            </a>
                        </td>

                        <td>
                            <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                                <button type="submit" class="btn btn-sm btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>


    <div id="logs" hidden="true">
        <h1 id="title"><span class="blue">&lt;</span>Ledger<span class="blue">&gt;</span></h1>
        <h2 id="ref"><a href="javascript:void(0);" onclick="SwitchData()">Show Users</a></h2>
        <div class="sb">
            <div class="container">

                <div class="align-content-center" id="showLog"></div>

            </div>
        </div>
    </div>
    
    <script type="module" src="~/react/dist/showLogs.js"></script>
</body>
</html>





    <script>

        function SwitchData() {
            if (document.getElementById('logs').hidden) {

                document.getElementById('users').hidden = true;
                document.getElementById('logs').hidden = false;
            }
            else {
                document.getElementById('users').hidden = false;
                document.getElementById('logs').hidden = true;
            }

        }

    </script>


    <style>



        @@charset "UTF-8";
        @@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

        .sb {
            width: 100%;
            height: 80vh;
            overflow-y: scroll;
        }

            .sb::-webkit-scrollbar {
                display: none;
            }


        h1 {
            font-size: 3em;
            font-weight: 300;
            line-height: 1em;
            text-align: center;
            color: #4DC3FA;
        }

        h2 {
            font-size: 1em;
            font-weight: 300;
            text-align: center;
            display: block;
            line-height: 1em;
            padding-bottom: 2em;
            color: #FB667A;
        }

            h2 a {
                font-weight: 700;
                text-transform: uppercase;
                color: #FB667A;
                text-decoration: none;
            }

        .blue {
            color: #185875;
        }

        .yellow {
            color: #FFF842;
        }

        .container th h1 {
            font-weight: bold;
            font-size: 1em;
            text-align: left;
            color: #185875;
        }

        .container td {
            font-weight: normal;
            font-size: 1em;
            -webkit-box-shadow: 0 2px 2px -2px #0E1119;
            -moz-box-shadow: 0 2px 2px -2px #0E1119;
            box-shadow: 0 2px 2px -2px #0E1119;
        }

        .container {
            text-align: left;
            overflow: hidden;
            width: 80%;
            margin: 0 auto;
            display: table;
            padding: 0 0 8em 0;
        }

            .container td, .container th {
                padding-bottom: 2%;
                padding-top: 2%;
                padding-left: 2%;
            }

            /* Background-color of the odd rows */
            .container tr:nth-child(odd) {
                background-color: #323C50;
            }

            /* Background-color of the even rows */
            .container tr:nth-child(even) {
                background-color: #2C3446;
            }

            .container th {
                background-color: #1F2739;
            }

            .container td:first-child {
                color: #FB667A;
            }

            .container tr:hover {
                background-color: #464A52;
                -webkit-box-shadow: 0 6px 6px -6px #0E1119;
                -moz-box-shadow: 0 6px 6px -6px #0E1119;
                box-shadow: 0 6px 6px -6px #0E1119;
            }

            .container td:hover {
                background-color: #FFF842;
                color: #403E10;
                font-weight: bold;
                box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
                transform: translate3d(6px, -6px, 0);
                transition-delay: 0s;
                transition-duration: 0.4s;
                transition-property: all;
                transition-timing-function: line;
            }

        @@media (max-width: 800px) {
            .container td:nth-child(4),
            .container th:nth-child(4) {
                display: none;
            }
        }
    </style>
